allure-behave==2.8.40
allure-python-commons==2.8.40
attrs==20.3.0
behave==1.2.6
colorama==0.4.4
packaging==20.9
parse==1.19.0
parse-type==0.5.2
plug==0.13.1
py==1.10.0
pyparsing==2.4.7
pytest==6.2.2
pytest-html==3.1.1
pytest-metadata==1.11.0
selenium==3.141.0
six==1.15.0
toml==0.10.2
urllib3==1.26.4